{% extends "layout/base.html" %}

{% block content %}
    <!-- Main Content -->
    <main class="checkout-page-wrapper">
        <div class="checkout-container">
            <h1 class="checkout-title">Order Details</h1>

            <form method="post" action="{% url 'payments:create_checkout_session' %}" id="checkout-form">
                {% csrf_token %}

                <!-- Shipping Information -->
                <section class="checkout-section">
                    <h2 class="checkout-section__title">Shipping information</h2>
                    <div class="checkout-form-group">
                        <label>Full Name</label>
                        <input type="text" name="full_name" class="Input" required>
                    </div>

                    <div class="checkout-form-group">
                        <label>Phone number</label>
                        <input type="tel" name="phone" class="Input" required>
                    </div>

                    <div class="checkout-form-group">
                        <label>City</label>
                        <input type="text" name="city" class="Input" required>
                    </div>

                    <div class="checkout-form-group">
                        <label>Shipping address</label>
                        <textarea name="address" class="Textarea" rows="3" required></textarea>
                    </div>
                </section>


                <!-- Payment Method -->
                <section class="checkout-section">
                    <h2 class="checkout-section__title">Payment Method</h2>
                    <div class="payment-options">
                        <label class="radio-option">
                            <input type="radio" name="payment_method" value="debit" checked>
                            <span class="radio-custom"></span>
                            <span class="radio-label">Debit Card</span>
                        </label>

                        <label class="radio-option">
                            <input type="radio" name="payment_method" value="wallet">
                            <span class="radio-custom"></span>
                            <span class="radio-label">Digital Wallet</span>
                        </label>

                        <label class="radio-option">
                            <input type="radio" name="payment_method" value="cod">
                            <span class="radio-custom"></span>
                            <span class="radio-label">Cash On Delivery</span>
                        </label>
                    </div>
                </section>


                <!-- Summary -->
                <section class="checkout-summary">
                    <h2 class="checkout-section__title">Order Summary</h2>

                    <div class="summary-total">
                        <p>Total</p>
                        <p>${{ cart.get_subtotal }}</p>
                    </div>

                    <button type="submit" class="button button--primary button--pay">
                        Pay with Stripe
                    </button>
                </section>
            </form>

        </div>
    </main>
{% endblock %}
