{% extends "layout/base.html" %}
{% load static %}

{% block content %}

    <main class="cart-page-wrapper">
        <div class="cart-container">

            <h1 class="cart-title">Shopping Cart</h1>

            <div class="cart-items-list" id="cart-items-list">

                {% if cart %}
                    {% for item in cart %}
                        <div class="cart-item" data-price="{{ item.price }}">
                            <img src="{{ item.product.image.url }}"
                                 alt="{{ item.product.name }}"
                                 class="cart-item__image">

                            <div class="cart-item__body">

                                <div class="cart-item__details">
                                    <h2 class="cart-item__name">{{ item.product.name }}</h2>

                                    <div class="cart-item__price-info">
                                        <p class="cart-item__price" data-item-total-price>
                                            ${{ item.total_price }}
                                        </p>
                                        {% if item.product.price_tag %}
                                            <span class="cart-item__price-tag">{{ item.product.price_tag }}</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="cart-item__actions">

                                    <!-- quantity selector -->
                                    <form action="{% url 'cart:update' item.product.id %}"
                                          method="post"
                                          class="cart-item__quantity-selector">
                                        {% csrf_token %}

                                        <button class="quantity-btn-cart"
                                                data-action="decrease"><i class="fa-solid fa-minus"></i></button>

                                        <span class="quantity-value-cart">{{ item.quantity }}</span>

                                        <button class="quantity-btn-cart"
                                                data-action="increase"><i class="fa-solid fa-plus"></i></button>

                                        <input type="hidden" name="quantity" value="{{ item.quantity }}"
                                               class="quantity-input-hidden">
                                    </form>

                                    <!-- remove button -->
                                    <form action="{% url 'cart:remove' item.product.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="button--remove" data-action="remove">
                                            Remove <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Your cart is empty.</p>
                {% endif %}

            </div>

            <!-- SUMMARY -->
            <div class="cart-summary">
                <div class="cart-summary__total">
                    <p>Total</p>
                    <p id="cart-total-price">${{ cart.get_subtotal }}</p>
                </div>

                {% if cart %}
                    <a href="{% url 'cart:checkout' %}"
                       class="button button--primary button--checkout">
                        Proceed to Checkout
                    </a>
                {% endif %}

                <a href="/" class="button button--primary">Back to Products</a>
            </div>

        </div>
    </main>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}